<div class="container emploi_temp" id="table">
    <div class="row">
        <div class="col s12">
            <table class="responsive-table centered">
                <thead>
                    <tr id="jours">
                        <th>Dimanche</th>
                        <th>Lundi</th>
                        <th>Mardi</th>
                        <th>Mercredi</th>
                        <th>Jeudi</th>
                        <th>Vendredi</th>
                        <th>Samedi</th>

                    </tr>
                </thead>
                <tbody>

                    {{#each jours}}

                    <tr>

                        <td><a href="/emplois/edit/{{id}}"
                                class="btn-floating halfway-fab waves-effect waves-light blue change_time"><i
                                    class="material-icons foto ">create</i></a>
                            <p> {{timeD.debut}} - {{timeD.fin}} </p> {{sportD}}
                        </td>
                        <td>
                            <p> {{timeL.debut}} - {{timeL.fin}}</p> {{sportL}}
                        </td>
                        <td>
                            <p> {{timeM.debut}} - {{timeM.fin}}</p> {{sportM}}
                        </td>
                        <td>
                            <p> {{timeMer.debut}} - {{timeMer.fin}}</p> {{sportMer}}
                        </td>
                        <td>
                            <p> {{timeJ.debut}} - {{timeJ.fin}}</p> {{sportJ}}
                        </td>
                        <td>
                            <p> {{timeV.debut}} - {{timeV.fin}}</p>{{sportV}}
                        </td>
                        <td>
                            <p> {{timeS.debut}} - {{timeS.fin}}</p> {{sportS}}
                        </td>



                    </tr>

                    {{/each}}



                </tbody>
            </table>



        </div>
    </div>
</div>